hello-world/src/main/mule/hello-world.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config1" doc:name="HTTP Listener config" doc:id="47e9ea9f-9e5c-46d0-bdbd-462264d97fe7" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="hello-worldFlow" doc:id="ac21cb12-aab0-46f1-bc83-23cce0c7b862" >
		<http:listener doc:name="Listener" doc:id="45394667-7ff4-4c94-a52f-f62287bb8556" config-ref="HTTP_Listener_config1" path="/Hello"/>
		<set-payload value="Hello world" doc:name="Set Payload" doc:id="a6192453-fd86-42e3-a647-c661fa1d6a2a" />
		<logger level="INFO" doc:name="Logger" doc:id="bcec0578-9ea1-467e-9eb2-5056bd5d5768" message="#[payload]"/>
		<logger level="INFO" doc:name="Logger" doc:id="f189919f-7b3f-49d8-a9e7-63a368985f32" message="#[payload]"/>
	</flow>
</mule>
